/* General styling */
/* ---------------------------------------- */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin: 0;
}

/* Navbar styling */
/* ---------------------------------------- */
.navbar {
  overflow: hidden;
  border-bottom: 1px solid #9c9c9c;
  position: fixed;
  top: 0;
  width: 100%;
}
  
.navbar a {
  float: right;
  color: #9c9c9c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
  
.navbar a:hover {
  color: black;
}

.navbar a.active {
  color: black;
  text-underline-offset: 5px;
  text-decoration: underline rgb(44, 124, 245);
}

#navName {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float:left;
  color: black;
  font-weight: bold;
}

/* Containers */
/* ---------------------------------------- */
.flexbox {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.container {
  display: flex;
  margin-top: 5vh;
  width: 100%;
  justify-content: center;
}

.container > div {
  margin: 15px;
}

/* Home */
/* ---------------------------------------- */
#home {
  margin-left: 15vw;
}

#infoSection {
  font-size: xxx-large;
  margin-top: 10vh;
  margin-left: 5vw;
}

#myName {
  color: rgb(44, 124, 245);
}

.circle {
  margin-top: 10vh;
  margin-left: 10vw;
  height: 45vh;
  width: 25vw;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

#photoCircle {
  background-color: rgb(44, 124, 245);
  box-shadow: 30px 30px black;
}

#photo {
  position: relative;
  z-index: 1;
}

#linkedinBtn {
  margin-left: 5vw;
  background: url('images/linkedin-icon.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border: transparent;
}

#githubBtn {
  margin-left: 2vw;
  background: url('images/github-icon.png');
  background-size: cover;
  width: 35px;
  height: 35px;
  border: transparent;
}

/* Skills */
/* ---------------------------------------- */
#skills {
  text-align: center;
  background-color: #f4f4f4;
  width: 100%;
  font-size: larger;
}

.card {
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 15%;
}

/* Portfolio */
/* ---------------------------------------- */
#portfolio {
  margin-left: 15vw;
}

/* Contact me */
/* ---------------------------------------- */
#contactMe {
  margin-left: 15vw;
}